* {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  grid-template: 9em auto 3em / minmax(250px, 1fr) 5fr;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  color: #D8DEE9;
  background-color: #2E3440;
  grid-row: 1 / -1;
  padding: 1em;
}

.sidebar-header {
  display: flex;
  gap: .5em;
  font-weight: bold;
  font-size: 1.5em;
  align-items: center;
}

.sidebar-header > svg {
  height: 1.5em;
  width: auto;
}

.sidebar-links {
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 2em;
}

.sidebar-links > ul > li {
  display: flex;
  gap: .35em;
  list-style: none;
  align-items: center;
  padding: 0 0 1em .3em;
}

.sidebar-links > ul > li > a {
  color: #D8DEE9;
  text-decoration: none;
}

.sidebar-links > ul > li > a:hover:not(:active) {
  color: #8FBCBB;
}

.sidebar-links > ul > li > svg {
  height: 1.5em;
  width: auto;
  padding-right: .65em;
}